{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthBridge Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/staff/staffdashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/icon type">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'> <!-- Import box icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'includes/admin_header.html' %}
    {% block content %}{% endblock %}

    <div class="parent">
        <div class="div1"> Total Patients Registered</div>
        <div class="div2"> Appointments Today </div>
        <div class="div3"> Active Staff</div>
        <div class="div4"> Active Patients</div>
        <div class="div5"> Current Queue Status</div>
        <div class="div6">  User Age Destribution</div>
        <div class="div7"> Daily Consultations</div>
        <div class="div8"> Campus Statistics</div>
    </div>
</body>
</html>