/* General Styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff;
    background-image: url('staffbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.profile-image {
    float: left;
    margin-right: 20px;
}

.profile-info {
    margin-left: 100px;
}

.profile-actions {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}