<header>
    <h1>Health<span class="highlight">Bridge</span></h1>
    <nav>
        <a href="staffdashboard.html"><i class='bx bxs-dashboard icon'></i> Dashboard</a>
        <a href="staffqueuing.html"><i class='bx bx-list-ul'></i> Queueing</a>
        <a href="patientrecord.html"><i class='bx bx-plus-medical' ></i> Patient Record</a>
        <a href="addpatient.html"><i class='bx bxs-bed' ></i> Add Patient</a>
        <a href="#"><i class='bx bxs-user' ></i> Profile</a>
        <a href="#"><i class='bx bxs-log-out icon'></i> Logout</a>
    </nav>
</header>